<link rel="stylesheet" type="text/css" href="/css/dropoff.css">
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="stylesheet" type="text/css" href="/css/result.css">
<h1>Drop Off Locations</h1>


<div class=container>
  <h1>Please fill in the form below</h1>
  <form action="/action_page.php">
    Organisation:
    <br>
    <input type="text" name="organisation" id="organisation" class="pa2 input-reset ba bg-transparent w-100 measure">
    <br> Province:
    <br>
    <select id="selectProvince" class="pa2 ba bg-transparent w-100 measure">
      <option value="ON">Ontario</option>
    </select>
    <br> City/Town:
    <br>
    <select id="selectCity" class="pa2 ba bg-transparent w-100 measure">
      <option value="TORONTO">Toronto</option>
    </select>
    <br> Postal Code:
    <br>
    <input type="text" name="postalCode" id="postalCode" class="pa2 input-reset ba bg-transparent w-100 measure">
    <br> Address:
    <br>
    <input type="text" name="thoroughFare" id="thoroughFare" class="pa2 input-reset ba bg-transparent w-100 measure">
    <br>
    <br>
    <input type="submit" value="Submit" id="submit">
  </form>
</div>

<div class="pa4 tableView">
  <div class="overflow-auto">
    <table id="myTable" class="f6 w-100 mw8 center" cellspacing="0">
      <thead>
        <tr class="stripe-dark">
          <th id="theader" class="fw6 tl pa3 bg-white">Organisation</th>
          <th class="fw6 tl pa3 bg-white">City/Town</th>
          <th class="fw6 tl pa3 bg-white">Postal Code</th>
          <th class="fw6 tl pa3 bg-white">Address</th>
          <th class="fw6 tl pa3 bg-white">DEL/ED</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        {{#each values}}
        <tr id={{this.id}} class="stripe-dark rowView">
          <td class="pa3" id= "organisation-{{this.id}}">{{this.organisation}}</td>
          <td class="pa3" id="locality-{{this.id}}">{{this.locality}}</td>
          <td class="pa3" id="postalCode-{{this.id}}">{{this.postalCode}}</td>
          <td class="pa3" id="thoroughFare-{{this.id}}">{{this.thoroughFare}}</td>
          <td class="pa3">
            <button class="delete" data-value={{this.id}} onclick="deleteRequest({{this.id}});">X</button>
            <script type="text/javascript">
              function deleteRequest(locationId) {
                console.log("pressed buttonnnnnnn")
                document.getElementById(locationId).remove()
                $.ajax({
                  type: "DELETE",
                  url: "/api/dropoff/delete",
                  data: {locationId: locationId}
                });
              };
            </script>
            <button class="edit" id="edit-{{this.id}}" onclick="updateRequest({{this.id}});">O</button>
            <script type="text/javascript">
              //can only update orgname, post code, address
              function updateRequest(locationId) {
                var orgDefault = document.getElementById(`organisation-${locationId}`).innerHTML
                var postalDefault = document.getElementById(`postalCode-${locationId}`).innerHTML
                var addressDefault = document.getElementById(`thoroughFare-${locationId}`).innerHTML
                document.getElementById(`organisation-${locationId}`).innerHTML = `<input type="text" id="orgInput-${locationId}" value="${orgDefault}">`;
                document.getElementById(`postalCode-${locationId}`).innerHTML = `<input type="text" id="postalCodeInput-${locationId}" value="${postalDefault}">`;
                document.getElementById(`thoroughFare-${locationId}`).innerHTML = `<input type="text" id="addressInput-${locationId}" value="${addressDefault}">`;
                document.getElementById(locationId).addEventListener("keypress", function(e) {
                  if (e.keyCode == 13) {
                    console.log("you just pressed enter dude")
                    var newOrgValue = document.getElementById(`orgInput-${locationId}`).value;
                    var newPostalValue = document.getElementById(`postalCodeInput-${locationId}`).value;
                    var newAddressValue = document.getElementById(`addressInput-${locationId}`).value;
                    console.log(newOrgValue, "---", newPostalValue, "---", newAddressValue);
                    e.stopPropagation();
                    if (newOrgValue && newPostalValue && newAddressValue) {
                      console.log("values seem right");
                      $.ajax({
                        type: "PUT",
                        url: "/api/dropoff/update",
                        data: {
                          locationId: locationId,
                          organisation: newOrgValue,
                          postalCode: newPostalValue,
                          thoroughFare: newAddressValue
                        }
                      });
                      setTimeout(function(){ location.reload(); }, 50);
                    } else {
                      alert("cannot have blank fields")
                    }
                  }
                });
              };
            </script>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/dropoff.js"></script>